span {
    display: inline-block;
  }
span {
    display: inline-block;
  } 
   
  
div,span {
    margin: 5px;
  }
  
#mini-layout img {
    width:400px;
    height: 160px;
    object-fit: cover;
  }

  body {
    text-align: center;
  }